<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AssetsMapper">
    
    <resultMap type="Assets" id="AssetsResult">
        <result property="id"    column="id"    />
        <result property="workspaceId"    column="workspace_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="coverFileId"    column="cover_file_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectAssetsVo">
        select id, workspace_id, type, name, description, cover_file_id, create_time from assets
    </sql>

    <select id="selectAssetsList" parameterType="Assets" resultMap="AssetsResult">
        <include refid="selectAssetsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="workspaceId != null "> and workspace_id = #{workspaceId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="coverFileId != null "> and cover_file_id = #{coverFileId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectAssetsById" parameterType="Long" resultMap="AssetsResult">
        <include refid="selectAssetsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssets" parameterType="Assets" useGeneratedKeys="true" keyProperty="id">
        insert into assets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="coverFileId != null">cover_file_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">#{workspaceId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="coverFileId != null">#{coverFileId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateAssets" parameterType="Assets">
        update assets
        <trim prefix="SET" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id = #{workspaceId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="coverFileId != null">cover_file_id = #{coverFileId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetsById" parameterType="Long">
        delete from assets where id = #{id}
    </delete>

    <delete id="deleteAssetsByIds" parameterType="String">
        delete from assets where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>