<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StorageFilesMapper">
    
    <resultMap type="StorageFiles" id="StorageFilesResult">
        <result property="id"    column="id"    />
        <result property="workspaceId"    column="workspace_id"    />
        <result property="uploaderId"    column="uploader_id"    />
        <result property="fileKey"    column="file_key"    />
        <result property="originalName"    column="original_name"    />
        <result property="mimeType"    column="mime_type"    />
        <result property="sizeBytes"    column="size_bytes"    />
        <result property="provider"    column="provider"    />
        <result property="cdnUrl"    column="cdn_url"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectStorageFilesVo">
        select id, workspace_id, uploader_id, file_key, original_name, mime_type, size_bytes, provider, cdn_url, create_time from storage_files
    </sql>

    <select id="selectStorageFilesList" parameterType="StorageFiles" resultMap="StorageFilesResult">
        <include refid="selectStorageFilesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="workspaceId != null "> and workspace_id = #{workspaceId}</if>
            <if test="uploaderId != null "> and uploader_id = #{uploaderId}</if>
            <if test="fileKey != null  and fileKey != ''"> and file_key = #{fileKey}</if>
            <if test="originalName != null  and originalName != ''"> and original_name like concat('%', #{originalName}, '%')</if>
            <if test="mimeType != null  and mimeType != ''"> and mime_type = #{mimeType}</if>
            <if test="sizeBytes != null "> and size_bytes = #{sizeBytes}</if>
            <if test="provider != null  and provider != ''"> and provider = #{provider}</if>
            <if test="cdnUrl != null  and cdnUrl != ''"> and cdn_url = #{cdnUrl}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectStorageFilesById" parameterType="Long" resultMap="StorageFilesResult">
        <include refid="selectStorageFilesVo"/>
        where id = #{id}
    </select>

    <insert id="insertStorageFiles" parameterType="StorageFiles" useGeneratedKeys="true" keyProperty="id">
        insert into storage_files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id,</if>
            <if test="uploaderId != null">uploader_id,</if>
            <if test="fileKey != null and fileKey != ''">file_key,</if>
            <if test="originalName != null">original_name,</if>
            <if test="mimeType != null">mime_type,</if>
            <if test="sizeBytes != null">size_bytes,</if>
            <if test="provider != null">provider,</if>
            <if test="cdnUrl != null">cdn_url,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workspaceId != null">#{workspaceId},</if>
            <if test="uploaderId != null">#{uploaderId},</if>
            <if test="fileKey != null and fileKey != ''">#{fileKey},</if>
            <if test="originalName != null">#{originalName},</if>
            <if test="mimeType != null">#{mimeType},</if>
            <if test="sizeBytes != null">#{sizeBytes},</if>
            <if test="provider != null">#{provider},</if>
            <if test="cdnUrl != null">#{cdnUrl},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateStorageFiles" parameterType="StorageFiles">
        update storage_files
        <trim prefix="SET" suffixOverrides=",">
            <if test="workspaceId != null">workspace_id = #{workspaceId},</if>
            <if test="uploaderId != null">uploader_id = #{uploaderId},</if>
            <if test="fileKey != null and fileKey != ''">file_key = #{fileKey},</if>
            <if test="originalName != null">original_name = #{originalName},</if>
            <if test="mimeType != null">mime_type = #{mimeType},</if>
            <if test="sizeBytes != null">size_bytes = #{sizeBytes},</if>
            <if test="provider != null">provider = #{provider},</if>
            <if test="cdnUrl != null">cdn_url = #{cdnUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorageFilesById" parameterType="Long">
        delete from storage_files where id = #{id}
    </delete>

    <delete id="deleteStorageFilesByIds" parameterType="String">
        delete from storage_files where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>