<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.workspace.mapper.WorkspacesMapper">
    
    <resultMap type="Workspaces" id="WorkspacesResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="type"    column="type"    />
        <result property="config"    column="config"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWorkspacesVo">
        select id, name, owner_id, type, config, create_time from workspaces
    </sql>

    <select id="selectWorkspacesList" parameterType="Workspaces" resultMap="WorkspacesResult">
        <include refid="selectWorkspacesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="ownerId != null "> and owner_id = #{ownerId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectWorkspacesById" parameterType="Long" resultMap="WorkspacesResult">
        <include refid="selectWorkspacesVo"/>
        where id = #{id}
    </select>

    <insert id="insertWorkspaces" parameterType="Workspaces" useGeneratedKeys="true" keyProperty="id">
        insert into workspaces
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="type != null">type,</if>
            <if test="config != null">config,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="type != null">#{type},</if>
            <if test="config != null">#{config},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWorkspaces" parameterType="Workspaces">
        update workspaces
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="config != null">config = #{config},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkspacesById" parameterType="Long">
        delete from workspaces where id = #{id}
    </delete>

    <delete id="deleteWorkspacesByIds" parameterType="String">
        delete from workspaces where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>