<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.drama.mapper.StoryboardAssetMapper">
    
    <resultMap type="StoryboardAsset" id="StoryboardAssetResult">
        <result property="id"    column="id"    />
        <result property="storyboardId"    column="storyboard_id"    />
        <result property="assetId"    column="asset_id"    />
        <result property="weight"    column="weight"    />
        <result property="usageType"    column="usage_type"    />
    </resultMap>

    <sql id="selectStoryboardAssetVo">
        select id, storyboard_id, asset_id, weight, usage_type from storyboard_assets
    </sql>

    <select id="selectStoryboardAssetList" parameterType="StoryboardAsset" resultMap="StoryboardAssetResult">
        <include refid="selectStoryboardAssetVo"/>
        <where>  
            <if test="storyboardId != null "> and storyboard_id = #{storyboardId}</if>
            <if test="usageType != null  and usageType != ''"> and usage_type = #{usageType}</if>
        </where>
    </select>
    
    <select id="selectStoryboardAssetById" parameterType="Long" resultMap="StoryboardAssetResult">
        <include refid="selectStoryboardAssetVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoryboardAsset" parameterType="StoryboardAsset" useGeneratedKeys="true" keyProperty="id">
        insert into storyboard_assets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storyboardId != null">storyboard_id,</if>
            <if test="assetId != null">asset_id,</if>
            <if test="weight != null">weight,</if>
            <if test="usageType != null">usage_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storyboardId != null">#{storyboardId},</if>
            <if test="assetId != null">#{assetId},</if>
            <if test="weight != null">#{weight},</if>
            <if test="usageType != null">#{usageType},</if>
         </trim>
    </insert>

    <update id="updateStoryboardAsset" parameterType="StoryboardAsset">
        update storyboard_assets
        <trim prefix="SET" suffixOverrides=",">
            <if test="storyboardId != null">storyboard_id = #{storyboardId},</if>
            <if test="assetId != null">asset_id = #{assetId},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="usageType != null">usage_type = #{usageType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoryboardAssetById" parameterType="Long">
        delete from storyboard_assets where id = #{id}
    </delete>

    <delete id="deleteStoryboardAssetByIds" parameterType="String">
        delete from storyboard_assets where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>